%div{:"data-role" => 'page'}
  %div{:"data-role" => 'header', :"data-theme" => 'b' }
    %h1{:role => 'heading'}
      = @station.name
    %a{ :href => '/', :"data-icon" => 'home', :"data-mini" => 'true', :"data-iconpos"=>'notext', :"data-direction" => 'reverse'}
  %div{:"data-role" => 'content'}
    %ul{:"data-role" => 'listview', :"data-divider-theme" => 'a'}
      - @station.load_departures
      - unless @station.departures.empty?
        - platform = 0
        - @station.departures_by_platform.map do |d|
          - if d.estimates.first.platform == platform + 1
            - platform = d.estimates.first.platform
            %li{:"data-role" => 'list-divider', :"data-theme" => 'a'}
              = "Platform #{platform}"
          -# adding class "ui-bar-b" as hacky way to achieve two different
          -# divider styles
          %li{:"data-role" => 'list-divider', :class => "ui-bar-b"}
            = d.destination.name
            - d.estimates.map do |e|
              %li{:"data-theme" => 'c'}
                = e.zero_means_arriving(e.minutes) + ' :: ' + e.length.to_s + ' car train'
      - else 
        %li No current prediction
